:root {
  --red: rgb(255, 0, 111);
  --red-alpha: rgba(255, 0, 111, 0.1);
  --background: rgb(40, 40, 40);
  --white: rgba(255, 255, 255, 0.1);
}

/* global html features */
html {
  font-family: "comic sans ms";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: white;
}

/* easily mark spans as red */
span {
  color: var(--red);
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: space-around;
  align-items: center;
  transition-duration: 200ms;
}

form > button {
  width: 50%;
  height: 15%;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  background-color: grey;
  color: var(--background);
}

form > button:hover {
  cursor: pointer;
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:focus {
  color: var(--red);
}

a:hover {
  color: var(--red);
}
